body {
  font-family: "Roboto", sans-serif;
  color: #2d3246;
  background-color: #fbf8f3;
}

ol,
ul,
a {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

/* BUTTONS */

.button-dark {
  border: none;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  background-color: #2d3246;
  color: #fffefb;

  }

.button-yellow {
  border: none;
  cursor: pointer;
  border-radius: 40px;
  font-weight: 400;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  background-color:  #fac828;
  color: #2d3246;
  
  }

.container {
  width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* HEADER START */

header {
  background-color: #ffb82e;
}

.navigation {
  display: flex;
}

.nav-menu-left {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #2d3246;
  display: flex;
  padding: 24px 0 0 210px;
  gap: 32px;
}
.nav-menu-right {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #2d3246;
  display: flex;
  margin-left: 186px;
  padding-top: 24px;
  gap: 32px;
}

.header-container {
  display: flex;
}

.header-title {
  margin-top: 162px;
  width: 385px;
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;
  letter-spacing: 0em;
  color: #2d3246;
}

.btn-one {
  padding: 16px 60px;
  min-width: 208px;
  min-height: 54px
  ;
}

.container-padding {
  padding-left: 197px;
}


.header-img {
  width: 665px;
}

/* MAIN START */

/* FIRST SECTION */

.nutrition-program-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;
  letter-spacing: 0em;
  margin: 0 auto;
  color: #2d3246;
  width: 764px;
  padding-top: 83px;
  margin-bottom: 55px;
}

.list-link-nutrition-program {
  display: flex;
  gap: 18px;
  padding-bottom: 80px;
  justify-content: center;
}

.rectangle {
  width: 128px;
  height: 24px;
}

/* SECOND SECTION */

.second-section-container {
  display: flex;
}
.img-container {
  display: flex;
  justify-content: center;
}

.text-of-image {
  position: absolute;
  padding-top: 246px;

  width: 232px;
  font-weight: 400;
  font-size: 53px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
}

.description-second-section {
  width: 396px;
  margin-left: 120px;
}

.title-second-section {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  color: #2d3246;
  padding-top: 214px;
  margin-bottom: 14px;
}

.text-second-section {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #2d3246;
}

/* THIRD SECTION */

.institution-list {
  display: flex;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #2d3246;
}

.list-size {
  width: calc(100% / 4);
  padding-top: 150px;
  padding-bottom: 80px;
}

.stanford-medicine {
  background-color: #c3d2a8;
}

.harvard-school-health {
  background-color: #b9d9d0;
}

.massachusetts-meneral-mospital {
  background-color: #f4b4b5;
}

.kings-college-london {
  background-color: #f7ad77;
}

/* FOURTH-SECTION */

.height-fourth-section {
  min-height: 533px;
}

.title-fourth-section {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33333;
  text-align: center;
  color: #2d3246;
  padding-top: 118px;
  width: 719px;
  margin: 0 auto 77px;
}

.btn-second {
  min-width: 312px;
min-height: 54px;
margin: 0 auto;
padding: 16px 46px;
}



/* FIFTH SECTION */

.title-section-fifth {
  font-weight: 400;
  font-size: 77px;
  line-height: 1.2987;
  text-align: center;
  color: #000;
  width: 427px;
  margin: 0 auto;
  padding: 255px 0;
}

.bg-color-fiv-sect {
  background-color: white;
}

/* SIXTH SECTION */

.sixth-section-backgraund {
  background-color:  #f59650;
}

.flex-container-sixth {
  display: flex;
  min-height: 532px;

}

.title-and-button {
  width: 345px;
 margin-left: 120px;
 
}

.title-sixth-section {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  color: #2d3246;
  margin-bottom: 39px;
  padding-top: 160px;
}

.btn-third {
  min-width: 253px;
min-height: 54px;
padding: 16px 46px;
}


.list-container {
  padding-top: 120px;
  width: 500px;
  margin-left: 140px;
  }

.list-link-one {
  
  font-weight: 400;
font-size: 20px;
line-height: 1.3;
color: #2d3246;
  padding-bottom: 41px;
  border-bottom: solid 1px   #2d3246;;
}

.list-link-two {
  font-weight: 400;
font-size: 20px;
line-height: 1.3;
color: #2d3246;
  padding-bottom: 41px;
  border-bottom: solid 1px   #2d3246;;
padding-top: 39px;
}

.list-link-three {
  font-weight: 400;
font-size: 20px;
line-height: 1.3;
color: #2d3246;
  padding-bottom: 41px;
 
padding-top: 39px;
}




.arrow {
  margin-left: 88px;
}


.link-flex {
  display: flex;
}


/* SEVENTH SECTION */

.flex-container-seventh {
  display: flex;
  min-height: 640px;
}

.container-seven-section {
  width: 381px;
  margin-left: 120px;
  margin-right: 100px;
}

.title-seventh-section {
font-weight: 400;
font-size: 20px;
line-height: 1.3;
color: #4b526e;
padding-top: 97px;
margin-bottom: 20px;
}

.subtitle-seventh-section {
font-weight: 400;
font-size: 32px;
line-height: 1.5;
color: #2d3246;

}

.description-seventh {
font-weight: 400;
font-size: 20px;
line-height: 1.3;
color: #2d3246;
width: 396px;
margin-top: 8px;
margin-bottom: 40px;
}


.btn-fourth {
  min-width: 228px;
  min-height: 54px;
  padding: 16px 46px;
}


.img-seven-section {
  
  display: block;
}

/* EIGHT SECTION */

.flex-container-eight {
display: flex;
min-height: 720px;

}

.contairer-sandvich {
margin-left: 144px;
padding-top: 108px;
margin-right: 264px;
}

.img-sandvich-eight {
  width: 352px;
  height: 283px;
  margin-bottom: 27px;
}

.text-eight-section {
  
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #2d3246;
}

.container-description-eight-section {
padding-top: 126px;
}

.title-eight-section {
margin-bottom: 20px;
font-weight: 400;
font-size: 20px;
line-height: 1.3;
color: #4b526e;
}

.subtetle-eight-section {
margin-bottom: 28px;
font-weight: 400;
font-size: 32px;
line-height: 1.5;
color: #2d3246;
}


.btn-fifth {
margin-top: 40px;
min-width: 219px;
min-height: 54px;
padding: 16px 46px;
}

/* NINETH SECTION */

.nineth-section {
  background-color:  #fac828;
}

.flex-container-nineth {
  min-height: 940px;
}

.title-nineth-section {
margin: 0 auto;
font-weight: 400;
font-size: 39px;
line-height: 1.38462;
text-align: center;
color: #2d3246;
max-width: 380px;
padding-top: 116px;
margin-bottom: 40px;
}

.rectangle-title-nineth {
  margin-left: 553px;
  margin-bottom: 100px;
}

.card-list {
  gap: 2px;
  
}


.card-review {
  border-radius: 16px;
max-width: 305px;
height: 376px;
background-color: #fff;
padding: 36px 24px 24px 24px;
}

.initials {
  border-radius: 24px;
width: 48px;
height: 24px;
background-color: #dadde7;
text-align: center;
padding-top: 2px;
margin-right: 16px;
margin-bottom: 38px;
}

.rectangle-card-review {
  margin-bottom: 16px;
}

.name-reviewer {
  margin-bottom: 9px;
}


.name-reviewer, .review {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2d3246;
  }

  .review {
    margin-bottom: 19px;
  }

  .review-more {
   color: blue;
  }

  .pamella {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    margin-bottom: 17px;
}

.btn-sixth {
  margin: 62px auto 0px;
  min-width: 214px;
  min-height: 54px;
  padding: 16px 46px;
}


/* TENTH SECTION */

.title-tenth-section {
padding-top: 204px;
margin-bottom: 38px;
text-align: center;
font-weight: 400;
font-size: 23px;
line-height: 1.4;
color: #4b526e;
}

.subtitle-tenth-section {
 margin-bottom: 67px;
 text-align: center;
font-weight: 400;
font-size: 36px;
line-height: 1.4;
text-align: center;
color: #2d3246;
}

.description-tenth-section {
padding-bottom: 237px;
text-align: center;
font-weight: 400;
font-size: 19px;
line-height: 1.4;
text-align: center;
color: #2d3246;
}














